<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <script href="/static/script.js"></script>
</head>
<body id=blogPage>
    
    <div class=blog-list>
        <div class="blog-item">
            <h1>
                'Hello World!'
            </h1>
            <p> 
                I felt content with my Python Development skills and wanted to try and move on
                to Web Development where I learned some of the basics of HTML and CSS.
            </p>
            <div class="blog-item-date">@firstweek</div>
        </div>
        <div class="blog-item">
            <h1>
                Web Dev & Fiverr
            </h1>
            <p>
                Got into a bit of back-end using Python and learned to utilize API/HTTP-requests.
                I also had my first offers on Fiverr most of which I had to decline due to not think
                I was competent enough to fullfill their requirements or I had suspicions that they where 
                going to use my products unethically

            </p>
            <div class="blog-item-date">@firstweek</div>
        </div>

        <div class="blog-item">
            <h1>
                Web Scraping and Authentication
            </h1>
            <p>
                Made a script that collects data from IMDB.
                Tried to learn how to use 0auth and 2.0Auth which proved to be impossible.
            </p>
            <div class="blog-item-date">@firstweek</div>
        </div>
        
        <div class="blog-item">
            <h1>
                'Snowden' The multifunctional Discord bot
            </h1>
            <p>
                I made a discord bot that fetches alot of data and displays it in my friends
                discord server triggered on commands. Some examples: Weather data, stock data, 
                WoW meta data, other meme functionalities.
            </p>
            <div class="blog-item-date">@firstweek</div>
        </div>
        
        <div class="blog-item">
            <h1>
                'Self-study' Script
            </h1>
            <p>
                I made a script to help me study for a test.
                It helped a surprising amount!
            </p>
            <div class="blog-item-date">@firstweek</div>
        </div>
        <div class="blog-item">
            <h1>
                GUI automation
            </h1>
            <p>
                Started making scripts that involved alot of GUI automation like playing games for 
                or breaking some flash games with instant image recognition.
            </p>
            <div class="blog-item-date">@firstweek</div>
        </div>
        <div class="blog-item">
            <h1>
                Image-parsing
            </h1>
            <p>
                I decided i wanted to invest some time in learning Machine Learning and I started parsing images for data 
                and playing arouond with vectors and NumPy
            </p>
            <div class="blog-item-date">@firstweek</div>
        </div>
        <div class="blog-item">
            <h1>
                Made an Autoplayer
            </h1>
            <p>
                I made a script that will play Slay The Spire for me as well as a discord bot that
                I can controll the actions in the game with.
            </p>
            <div class="blog-item-date">@firstweek</div>
        </div>
        <div class="blog-item">
            <h1>
                Algorythms, C# and Unity
            </h1>
            <p>
                I got into watching algorythms and wanted to learn about them so I started
                simulated the Boid Algorythm in Unity.
            </p>
            <div class="blog-item-date">@firstweek</div>
        </div>
        <div class="blog-item">
            <h1>
                First Website Template!
            </h1>
            <p>
                I made a my first full-stacked website with an integrated NoSQL database and 
                Python back-end.
            </p>
            <div class="blog-item-date">@firstweek</div>
        </div>
        <div class="blog-item">
            <h1>
                First Website Template part 2!
            </h1>
            <p>
                Made API integrations and optimized alot of the back-end
            </p>
            <div class="blog-item-date">@firstweek</div>
        </div>
        <div class="blog-item">
            <h1>
                'Linear Algebra'
            </h1>
            <p>
                Tried to learn Linear Algebra to prepare for a better understanding of machine learning.
            </p>
            <div class="blog-item-date">@2/January/2021</div>
        </div>
        <div class="blog-item">
            <h1>
                NumPy and Linear Regression
            </h1>
            <p>
                I made my own Linear Regression model using only the algorythms and NumPY.
            </p>
            <div class="blog-item-date">@8/January/2021</div>
        </div>
    
        <div class="blog-item">
            <h1>
                TensorFlow API
            </h1>
            <p>
                Got back into Machine Learning and made my first Model.
                I made a MNIST model and I documented alot of process and trialed around with it alot.
            </p>
            <div class="blog-item-date">@15/January/2021</div>
        </div>
    </div>
    
    
</body>