<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <script href="/static/script.js"></script>
</head>
<body class="contact">
    <div class="header">
        <div class="name">
            <a href='/'><img src="/static/big-brocoli.png"></a>
            Johannes Rønning
            <a class="navs" href="/about">About</a>
            <a class="navs" href="/contact">Contact</a>
            <a class="navs" href="/rev">Reviews</a>
    
        </div>
    </div>
    <h1 class="contactTitle">How can you contact me?</h1>

    <div class="contactInfo">

    <p>If you scream really, really loud towards north you will notify the norse gods<br> 
        and they will send me a raven relaying your message
    <br> 
        I will recieve it within 3 weeks assuming no raven gets lost.
    <p>So if you have any questions that require extreme level <br>
        of certaincy, accuracy and speed... <br>
        it is probably best to send me a mail at: <strong>MY@email.fuckingfix</strong></p> 
    <br>
    <strong>...</strong>
    <br>
    or get in touch on any of these platforms!

    </div>

    <div class="contactIcons">
        <a href="github" alt="github"><img src="static/github.svg"></a>
        <a href="twitch" alt="twitch"><img src='static/twitch.svg'></a>
        <a href="discord" alt="discord"><img src="static/discord.svg"></a>
        
    </div>


</body>